<div class="p-grid">
  <div class="p-col-2 p-offset-4">
    <div class="p-grid p-dir-col">
      <div class="p-col"><p-radioButton name="sizeGroup" value="0" label="Small (10x10)" [(ngModel)]="size"></p-radioButton></div>
      <div class="p-col"><p-radioButton name="sizeGroup" value="1" label="Medium (20x15)" [(ngModel)]="size"></p-radioButton></div>
      <div class="p-col"><p-radioButton name="sizeGroup" value="2" label="Large (30x20)" [(ngModel)]="size"></p-radioButton></div>
    </div>
  </div>
  <div class="p-col-6 p-col-align-center">
    <p-button label="Start" (click)="startPlaying()"></p-button>
  </div>
</div>
